@page "/blog"

<PageTitle>Blog</PageTitle>

<MudAvatar Color="Color.Primary">B</MudAvatar>
<MudAvatar Color="Color.Secondary">L</MudAvatar>
<MudAvatar Color="Color.Tertiary">O</MudAvatar>
<MudAvatar Color="Color.Success">G</MudAvatar>

<br />

<MudImage Height="300" Width="300" Src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b1/Logo_de_la_Universidad_de_La_Sabana.svg/800px-Logo_de_la_Universidad_de_La_Sabana.svg.png" Alt="Logo Unisabana" Elevation="25" Class="rounded-lg ma-4"/>

<MudImage Height="200" Width="400" Src="https://www.unisabana.edu.co/fileadmin/_processed_/e/1/csm_foto-universidad-de-la-sabana-nota-informacion-receso-2021_6b46bf5451.jpg" Alt="Ad Portas"  Elevation="25" Class="rounded-lg"/>

<MudImage Height="300" Width="300" Src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/92/Usabana2.jpg/1280px-Usabana2.jpg" Alt="Logo Unisabana" Elevation="25" Class="rounded-lg ma-4"/>

<MudText Typo="Typo.h3" Align="Align.Center" GutterBottom="true">How do I see myself in 20 years?</MudText>

<MudPaper Height="260px" Width="100%">
    <MudContainer MaxWidth="MaxWidth.Medium">
        <MudPaper Height="260px" Width="100%" Square="true" >
            <h4>
                On several occasions we ask ourselves, where do we see ourselves in a few years? Sometimes we have dreams,
                but it turns out that our future is totally different from what was planned, for example, when I was a child I wanted 
                to be an astronaut, or a formula one pilot, however, I decided being an engineer, something totally different from what 
                was planned from the beginning of my life.
            </h4>
            <br />
            <h4>
                But really, the objective for which all of us should think about the future is with the objective of being happy, and that is what 
                I want every day, and that is why in 20 years my main objective is to have stability and be happy, but how do I could achieve that goal?
            </h4>
            <br />
            <h4>
                Stability should be achieved in all aspects on a personal, emotional, family and work level, so on a personal level I would like 
                to feel calm with myself, have good health and peace of mind free from worries that may affect my integrity, on a personal level 
                emotionally, to have good relationships with the people around me, at the family level, to establish a solid home with a committed 
                couple with clear objectives and very surely to be the father of 2 children, if the couple could, but that will be decided by God whatever 
                he has prepared for us , and at the labor level, being able to have a stable job leading a work team to achieve the consolidation of 
                objectives for a recognized company in the market.
            </h4>
        </MudPaper>
    </MudContainer>
</MudPaper>

@code {

}
